# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Django migrations
**/migrations/
*.pyc
*.pyo

# Django cache and session files
**/cache/
**/sessions/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Database and other sensitive data
*.sqlite3
*.pgdata

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Static files and media
static/
media/

# Node.js
node_modules/

# Compiled files
*.mo

# Local .env files
.env
